body{
  background: #407899;
  background: -moz-linear-gradient(top, #407899 0%, #407899 58%, #829eb4 100%);
  background: -webkit-linear-gradient(top, #407899 0%, #407899 58%, #829eb4 100%);
  background: linear-gradient(to bottom, #407899 0%, #407899 58%, #829eb4 100%);
  font-family: Tahoma, Geneva, sans-serif;
  background-attachment: fixed;
  font-size: 21px;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #000000;
  font-style: normal;
  font-variant: normal;
  margin: 0;
  padding: 0%;
}   
.parent{
  background-color: #87c2cf;
  border-radius: 2rem;
  margin-top: 20%;
  margin-left: 16px;
  margin-right: 16px;
}
@media (min-width:500px){
  .parent{
    background-color: #87c2cf;
    border-radius: 2rem;
    margin-top: 15%;  
  }
  .input{
    width: 50%;
  }
}
.input{
  margin: auto;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: center;
  column-gap: 0.5rem;
  color: #020202;
  border-bottom: 2px solid rgb(105, 121, 139);
}
input,button{
  font-size: 1rem;
  font-weight: bold;
  text-align: right;
  border-radius: 0.3rem;
  border: 2px solid rgb(255, 255, 255);
}
button{
  font-size: 1.2rem;
  cursor:pointer;
}
#width,#height{
  width: 8rem;
  background-color: rgba(255, 255, 255, 0.7);
}

.calcResult{
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  grid-template-rows: repeat(3,1fr);
  height: 10rem;
  padding: 0.8rem;
  background: #aae6f3;
  -webkit-border-radius: 0px 0px 022px 022px;
  border-radius: 0px 0px 022px 022px;
}
.p{
  display: flex;
  justify-content: flex-end;
}
.result{
  font-weight: bold;
  word-break: break-all;
}