.Area{
  border-bottom: 1px solid gray;
  margin: 1rem;
}
.Acre{
  border-bottom: 1px solid gray;
  padding-bottom: 1rem;
  margin: 0 1rem 1rem 1rem;
}
body{
  background-color: aliceblue;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 21px;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.ul{
  display: block;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
li{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}