body{
  background: #407899;
  background: -moz-linear-gradient(top, #407899 0%, #407899 58%, #829eb4 100%);
  background: -webkit-linear-gradient(top, #407899 0%, #407899 58%, #829eb4 100%);
  background: linear-gradient(to bottom, #407899 0%, #407899 58%, #829eb4 100%);
  font-family: Tahoma, Geneva, sans-serif;
  background-attachment: fixed;
  font-size: 21px;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #000000;
  font-style: normal;
  font-variant: normal;
  margin: 0;
  padding: 0%;
  display: flex;
  justify-content: center;
}   
.parent{
  background-color: #87c2cf;
  border-radius: 2rem;
  margin-top: 20%;
  /* margin-left: 16px;
  margin-right: 16px; */
  text-align: center;
  width: 90%;
}
@media (min-width:1200px){
  #width{
    width: 10%;
  }
}
.input{
  margin: auto;
  padding: 0rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  color: #020202;
  border-bottom: 2px solid rgb(105, 121, 139);
}
input,button{
  font-size: 1rem;
  font-weight: bold;
  text-align: right;
  border-radius: 0.3rem;
  border: 2px solid rgb(255, 255, 255);
  margin: 1rem 0rem;
}
button{
  font-size: 1.2rem;
  cursor:pointer;
}
#width,#height,.acreIn{
  width: 50%;
  background-color: rgba(255, 255, 255, 0.7);
}

.calcResult{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.8rem;
  background: #aae6f3;
  -webkit-border-radius: 0px 0px 022px 022px;
  border-radius: 0px 0px 022px 022px;
  row-gap: 1rem;
  height: 9rem;
  text-align: center;
}
.result{
  font-weight: bold;
  word-break: break-all;
}

